header, nav, footer {
    display: none;
}

.page-header {
    display: none;
}

.debug {
    display: none;
}

@page {
    margin: 1.3cm 0.3cm;
}

body {
    font: 7pt "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    padding-top: 0;
}

.barcode-table table {
    border-collapse: collapse;
}

.barcode-table td {
    text-align: center;
}

.barcode-box {
    width: 4.4cm;
    height: 1.625cm;
    padding: 0 0.5cm 0 0.5cm;
}

.barcode-description {
    padding: 0.2cm 0 0.2cm 0;
    width: 3.5cm;
}

img {
    height: 1.0cm;
}

.page-break	{ display: block; page-break-before: always; }
