header, nav, footer {
    display: none;
}

.page-header {
    display: none;
}

.debug {
    display: none;
}

.bc-page-nav {
    display: none;
}

@page {
    margin: 2.0cm 0.75cm;
}

body {
    font: 10pt "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    line-height: 1.3;
}

.barcode-table td {
    text-align: center;
    padding-top: 8px;
}

.barcode-table img {
    margin-top: 4px;
}

.barcode-table table {
    border-collapse: collapse;
}

.barcode-table-col2 {
    padding-left: 2em;
}

.barcode-box {
    width: 4.5cm;
    height: 1.7cm;
    border: thin solid black;
}

.barcode-description {
    width: 4.25cm;
}

img {
    height: 1.6cm;
}

.page-break	{ display: block; page-break-before: always; }
