@media screen {
    body {
        padding-top: 50px;
    }

    .barcode-table table {
        margin-bottom: 32px;
    }

    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }

    .small-form {
        width: 300px;
        margin: auto;
    }

    .small-form-left {
        width: 512px;
    }

    .barcode-table {
        font: 10pt "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
    }

    .barcode-table td {
        text-align: center;
        padding-top: 8px;
    }

    .barcode-table-col2 {
        padding-left: 2em;
    }

    .barcode-table img {
        margin-top: 4px;
    }

    .footer-content {
        padding-top: 60px;
    }

    .debug {
        margin-top: 16px;
        border-top: thin solid black;
        padding: 8px;
        background-color: lightcyan;
    }

    input.error {
        border-color: red;
    }
}

.barcode-description {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bc-page-nav {
    margin-bottom: 2rem;
}